body {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #dd4376;
    text-align: center;
}

h1 {
    margin-top: 40px;
    color: #422132;
}

p {
    color: #6d1a1a;
}


.products {
    width: 90%;
    height: 400px;
    margin: 40px auto;

    display: flex;
    gap: 15px;
}


.product {
    flex: 1;

    background-color: rgb(165, 134, 134);
    border-radius: 20px;
    padding: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

    transition: flex 0.5s ease;
}

.product .icon {
    font-size: 60px;
}

.product h2 {
    color: #e7c2d4;
}

.product p {
    font-size: 20px;
    font-weight: bold;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #d63384;
    color: white;
    cursor: pointer;
}


.product.active {
    flex: 4;
    background-color: #ffe0ec;
}


